@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss"; 
@custom-variant dark (&:where(.dark, .dark *));


@theme {
    --font-orbitron: "Orbitron", sans-serif
}

.bm-burger-button{
    display: none !important;
}

.bm-menu, .bm-item {
    overflow: hidden !important;
    display: flex !important;
    flex-direction: column !important;
}

.dark .custom-scrollbar::-webkit-scrollbar {
    width: 8px; 
}

.dark .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; 
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #1E1F26; 
    border-radius: 4px; 
    transition: background 1s ease-in-out
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px; 
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: theme('color.gray.100'); 
    border-radius: 4px; 
    transition: background 1s ease-in-out
}

  